{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class='ERROR' id='ERROR' style='display: block;'>Ошибка 404</div>
    {% if request.user.is_authenticated %}
        <script>document.getElementById('ERROR').style.display = 'none';</script>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Добавить" >
        </form>
    {% endif %}
</body>

</html>