    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="/./">
                <strong class="blue-text">AllNails</strong>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                        {% for group in user.groups.all %}
                            {% if group.name == 'Мастер' %}
                                <li class="nav-item">
                                    <a class="nav-link waves-effect" href="/add/">Добавить салон</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/about/">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/news/">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/gallery/">Галерея</a>
                    </li>
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    {% if request.user.is_authenticated %}
                        {% for group in user.groups.all %}
                            {% if group.name == 'Модератор' %}
                                <li class="nav-item">
                                    <a class="nav-link waves-effect" href="/moder/">
                                        <i class="fas fa-users" ></i>
                                        <span class="clearfix d-none d-sm-inline-block" > Модератор </span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                       
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/admin/">
                                <i class="fas fa-users" ></i>
                                <span class="clearfix d-none d-sm-inline-block" > Профиль </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
                                <span class="clearfix d-none d-sm-inline-block"> Выйти </span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
                                <span class="clearfix d-none d-sm-inline-block"> Войти </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
                                <span class="clearfix d-none d-sm-inline-block"> Зарегистрироваться </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>